.header {
    padding: 20px 0 24px 0;
    position: relative;
    overflow: hidden;
}


.header__wrraper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 103, 66, 0.2); 
    padding: 10px 16px 10px 24px;
    border-radius: 4px;
}

.order__sevices {
    font-size: 10px;
    font-weight: 700;
    color: $white;
    background-color: $dark-green;
    display: block;
    width: 76px;
    padding: 8px 10px;
    border-radius: 3px;
    text-align: center;    
    @include a_hover;
}